.statisticsWrapper {
  display: flex;
  flex-direction: column;

  .statisticsPage {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 32px;
    margin-bottom: 48px;

    .userAvatar {
      display: flex;
      border-radius: 120px;
      margin-bottom: 20px;
    }

    .username {
      text-align: center;
      font-size: 28px;
      font-weight: 700;
      letter-spacing: -1px;
    }
  }
}
