.actionGlass {
  display: flex;
  align-items: center;
  justify-content: space-between;

  .ellipseIcon {
    display: flex;
    position: relative;
  }

  .percent {
    display: flex;
    width: 32px;
    height: 17px;
    position: absolute;
    top: 67px;
    left: 26px;
    padding: 2.125px 4.25px;
    justify-content: center;
    border-radius: 106.25px;
    background: #C2C5F3;
  }

  .number {
    font-size: 10px;
    font-weight: 600;
    background: transparent;
    color: #0B0526;
  }

  .addGlass {
    display: inline-block;
    width: 253px;
    max-width: 253px;
    height: 72px;
    max-height: 72px;
    align-items: center;
    padding: 24px 35px;
    border: 2px solid #211A3F;
    position: relative;
    overflow: hidden;
    justify-content: center;
    cursor: pointer;
    border-radius: 20px;
    background: #160F35;

    &:before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 2.5em;
      height: 100%;
      background-color: rgba(#9EC7FF, 0.2);
      transform: translateX(-4em) skewX(-45deg);
    }

    &:hover {
      &:before {
        animation: move-light 0.5s;
      }
    }

    @keyframes move-light {
      from {
        transform: translateX(-4em) skewX(-45deg);
      }
      to {
        transform: translateX(17em) skewX(-45deg);
      }
    }

    .link {
      display: flex;
      align-items: center;
      width: 100%;
      height: 100%;
      text-decoration: none;

      .glassIcon {
        display: inline-flex;
        width: 24px;
        height: 24px;
        margin-right: 12px;
      }

      .glassAdd {
        display: inline-flex;
        white-space: nowrap;
        color: #C2C5F3;
        font-size: 16px;
        font-weight: 600;
        letter-spacing: -0.32px;
      }
    }
  }
}

/*
@media (max-width: 420px) {
  .link {
    justify-content: center;
  }

  .glassIcon {
    width: 22px !important;
    height: 22px !important;
    margin-right: 8px;
  }

  .ellipseIcon {
    width: 70px;
    height: 70px;
    align-items: center;
  }

  .percent {
    height: 12px !important;
    top: 57px !important;
    left: 21px !important;
  }

  .number {
    font-size: 9px !important;
  }
}*/
