.affirmationDay {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  margin-bottom: 25px;
  position: relative;
  background: url("../../../assets/images/affirmationDay/back.jpg") center center / cover no-repeat;
  padding: 10px 16px;
  border-bottom-left-radius: 12.5%;
  height: 300px;
  width: calc(100% + 30px);
  margin-left: -15px;

  .affirmationRibbon {
    position: absolute;
    right: 0;
    bottom: -120px;
  }
}

/*@media (max-width: 420px) {
  .affirmationRibbon {
    right: -97px !important;
  }
}*/
