.bookCard {
  display: flex;
  min-height: 188px;
  padding: 16px;
  border-radius: 20px;

  &[data-index="0"], &[data-index="1"], &[data-index="2"], &[data-index="3"] {
    background: linear-gradient(65deg, rgb(170, 141, 54), rgb(33, 26, 65) 40%);
  }

  .bookImage {
    display: inline-flex;
    min-width: 131px;
    min-height: 226px;

    &[data-index="0"], &[data-index="1"], &[data-index="2"], &[data-index="3"] {
      background: url("../../../../assets/images/bookBlock/book.png") left top / 190px 210px no-repeat;
    }
  }

  .bookInfo {
    display: flex;
    flex-direction: column;

    .bookTitle {
      font-size: 17px;
      font-weight: 600;
      letter-spacing: -0.442px;
      margin-bottom: 8px;
    }

    .bookDescription {
      color: #C2C5F3;
      font-size: 12px;
      flex: 1 1 auto;
      margin-bottom: 16px;
    }

    .linkBook {
      display: flex;

      .bookWrapper {
        display: flex;
        max-width: 120px;
        max-height: 34px;
        justify-content: center;
        padding: 8px 16px;
        align-items: center;
        border-radius: 16px;
        background: #493AC0;

        .bookDetails {
          color: #FFF;
          text-align: center;
          font-size: 14px;
          font-weight: 600;
          letter-spacing: -0.154px;
        }
      }
    }
  }
}
