.bookCard {
  display: flex;
  min-height: 188px;
  padding: 16px;
  border-radius: 20px;

  .bookImage {
    display: inline-flex;
    background: url("../../../../assets/images/bookBlock/book.png") left center / cover no-repeat;
    min-width: 169px;
    height: 226px;
    transform: rotate(5.634deg);
  }

  .bookInfo {
    display: flex;
    flex-direction: column;

    .bookTitle {
      font-size: 17px;
      font-weight: 600;
      letter-spacing: -0.442px;
      margin-bottom: 8px;
    }

    .bookDescription {
      color: #C2C5F3;
      font-size: 12px;
      flex: 1 1 auto;
      margin-bottom: 16px;
    }

    .linkBook {
      display: flex;

      .bookWrapper {
        display: flex;
        max-width: 120px;
        max-height: 34px;
        justify-content: center;
        padding: 8px 16px;
        align-items: center;
        border-radius: 16px;
        background: #493AC0;

        .bookDetails {
          color: #FFF;
          text-align: center;
          font-size: 14px;
          font-weight: 600;
          letter-spacing: -0.154px;
        }
      }
    }
  }
}
