.card {
  display: flex;
  flex-direction: column;
  //max-width: 150px;
  //width: 150px;
  //height: 158px;
  max-height: 158px;
  padding: 16px 8px 8px 16px;
  border-radius: 20px;
}

.meditationPageCard {
  max-width: 158px;
}

.cardTitle {
  color: #C2C5F3;
  display: inline-block;
  font-size: 15px;
  letter-spacing: -0.24px;
  margin-bottom: 8px;
}

.cardTime {
  color: rgba(194, 197, 243, 0.40);
  font-size: 11px;
  letter-spacing: 0.066px;
}

.playIcon {
  display: flex;
  justify-content: flex-end;
  position: relative;
  height: 80px;
  top: -12px;
}

.playIconSvg {
  position: absolute;
  right: -4px;
}

/*@media (max-width: 350px) {
  .cardTitle {
    font-size: 14px;
  }
}

@media (max-width: 350px) {
  .cardTitle {
    font-size: 14px;
  }
}

@media (max-width: 365px) {
  .meditationPageCard {
    width: 128px;
    max-width: 128px;
    height: 162px;
    max-height: 162px;
  }

  .playIcon {
    width: 65px;
    height: 65px;
  }
}*/
