.podcastCard {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 213px;
  padding: 11px;

  .podcastTitleCard {
    font-size: 13px;
  }
}

.podcastPageCard {
  width: 170px;
  max-width: 170px;
}

@media (max-width: 365px) {
  .podcastPageCard {
    width: 128px;
    max-width: 128px;
  }
}
