.waterTrackerWrapper {
  display: flex;
  flex-direction: column;

  .waterTracker {
    display: flex;
    justify-content: space-between;
    margin-bottom: 80px;
    align-items: center;
  }

  .range {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 110px;

    .field {
      position: relative;
      transform: rotate(-90deg);
      display: flex;
      align-items: center;
      height: 100%;

      .controlsWater {
        display: flex;
        position: relative;
        cursor: pointer;

        .controlsText {
          position: absolute;
          color: #C2C5F3;
          opacity: 0.3;
          top: -46px;
          left: 12px;
          transform: rotate(90deg);
          font-size: 22px;
          font-weight: 600;
          letter-spacing: -0.8px;
        }
      }

      input::-webkit-slider-thumb {
        -webkit-appearance: none;
        height: 24px;
        width: 24px;
        background: #C2C5F3;
        border-radius: 50%;
        border: 1px solid #C2C5F3;
        cursor: pointer;
      }

      input::-moz-range-thumb {
        -webkit-appearance: none;
        height: 24px;
        width: 24px;
        background: #C2C5F3;
        border-radius: 50%;
        border: 1px solid #C2C5F3;
        cursor: pointer;
      }

      .sliderInput {
        -webkit-appearance: none;
        height: 6px;
        min-width: 236px;
        border-radius: 100px;
        outline: none;
        border: none;
        z-index: 2222;
        background: #1A1741;
      }

      .sliderValue {
        position: absolute;
        width: 45px;
        height: 45px;
        top: -80px;
        transform: translate(80%) rotate(90deg);

        .sliderNumber {
          color: #C2C5F3;
          font-size: 28px;
          font-weight: 700;
          letter-spacing: -1px;
          line-height: 45px;
          text-align: center;
        }
      }
    }
  }

  .addGlass {
    display: flex;
    max-width: 230px;
    height: 56px;
    max-height: 56px;
    gap: 12px;
    align-items: flex-start;
    padding: 17px 23px;
    justify-content: center;
    margin: 0 auto;
    cursor: pointer;
    border-radius: 20px;
    background: #FFF;

    .glassIcon {
      display: inline-flex;
      width: 24px;
      height: 24px;
      fill: #0B0526 !important;
    }

    .glassAdd {
      display: inline-flex;
      white-space: nowrap;
      color: #0B0526;
      font-size: 16px;
      font-weight: 600;
      letter-spacing: -0.32px;
    }
  }
}
