.welcomeUser {
  display: flex;
  justify-content: space-between;
  position: relative;
  z-index: 99999;
  margin-bottom: 36px;
  margin-top: 15px;

  .user {
    display: flex;
    max-width: 130px;
    gap: 8px;

    .greetings {
      display: flex;
      align-items: center;

      .userAvatar {
        display: flex;
        align-items: center;
        border-radius: 32px;
        margin-right: 10px;
      }

      .userInfo {
        display: flex;
        flex-direction: column;

        .helloUser {
          color: #8A8A8E;
          font-size: 11px;
          line-height: 13px;
          letter-spacing: 0.066px;
        }

        .username {
          font-size: 14px;
          font-weight: 600;
          line-height: 18px;
          letter-spacing: -0.154px;
        }
      }
    }
    
    .arrowIcon {
      background: transparent;
      cursor: pointer;
    }
  }
  
  .questions {
    background: transparent;
    cursor: pointer;
  }
}