.videoBlock {
  display: flex;
  flex-direction: column;
  border-radius: 16px;
  margin-top: 30px;

  .resetStyle {
    color: #FFF;
    text-decoration: none;
  }

  :global(.slick-track) {
    transform: translate3d(0px, 0px, 0px) !important;
  }

}

:global(.slick-slide) > div {
  margin-right: 12px;
}

