.videoBlock {
  margin-top: 30px;

  .resetStyle {
    color: #FFF;
    text-decoration: none;
  }

/*  .cardOneBackground {
    display: inline-flex;
    border-radius: 16px;
    width: 100%;
    height: 100px;
    background: url("../../assets/images/videoCard/videoOne.png") center center / cover no-repeat;
  }

  .cardTwoBackground {
    display: inline-flex;
    border-radius: 16px;
    width: 100%;
    height: 100px;
    background: url("../../assets/images/videoCard/videoTwo.png") center center / cover no-repeat;
  }*/
}