.CardSlider {
  :global(.slick-track) {
    margin-left: 0;
  }

  :global(.slick-track) {
    transform: translate3d(0px, 0px, 0px) !important;
  }
}

.cardBackground {
  border-radius: 20px;
  margin-right: 12px;
  background: linear-gradient(45deg, rgb(255, 23, 107), rgb(33, 26, 65) 48%);
}
