.headerCancel {
  display: flex;
  height: 56px;
  max-height: 56px;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;

  .buttonCancel {
    color: #0A84FF;
    text-decoration: none;
  }

  .botName {
    display: flex;
    flex-direction: column;
    align-items: center;

    .shortName {
      font-weight: bold;
    }

    .descriptionName {
      color: rgba(235, 235, 245, 0.60);
      font-size: 13px;
      line-height: 18px;
      letter-spacing: -0.078px;
    }
  }

  .dotsGroup {
    cursor: pointer;
    background: transparent;
  }
}

