.statisticInfoCard {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 16px;
  justify-content: center;

  .infoCardItem {
    display: flex;
    flex-direction: column;
    padding: 12px 16px;
    border-radius: 24px;
    background: linear-gradient(90deg, #160F35 0%, #1D1C48 100%), #FFF;


    .infoCardIcon {
      display: inline-flex;
      width: 34px;
      height: 34px;
      margin-bottom: 11px;

      &[data-index="0"], &[data-index="1"] {
        background: url("../../../../assets/images/statistics/water.png") center center / cover no-repeat;
      }

      &[data-index="2"] {
        background: url("../../../../assets/images/statistics/camera.png") center center / cover no-repeat;
      }

      &[data-index="3"] {
        background: url("../../../../assets/images/statistics/micro.png") center center / cover no-repeat;
      }
    }

    .infoCameraIcon {
      display: inline-flex;
      width: 35px;
      height: 34px;
      margin-bottom: 11px;
      background: url("../../../../assets/images/statistics/camera.png") center center / cover no-repeat;
    }

    .infoMicroIcon {
      display: inline-flex;
      width: 35px;
      height: 34px;
      margin-bottom: 11px;
      background: url("../../../../assets/images/statistics/micro.png") center center / cover no-repeat;
    }

    .infoCardTitle {
      white-space: nowrap;
      font-size: 22px;
      font-weight: 600;
      letter-spacing: -0.8px;
    }

    .infoCardDescription {
      color: #C2C5F3;
      font-size: 14px;
      letter-spacing: -0.154px;
    }
  }
}
