.meditationsBlock {
  display: flex;
  flex-direction: column;

  .resetStyle {
    color: #FFF;
    text-decoration: none;
  }

  .cardOneBackground {
    border-radius: 20px;
    margin-right: 12px;
    background: linear-gradient(45deg, rgb(153, 23, 255), rgb(33, 26, 65) 48%);
  }

  .cardTwoBackground {
    border-radius: 20px;
    margin-right: 12px;
    background: linear-gradient(45deg, rgb(255, 23, 107), rgb(33, 26, 65) 48%)
  }
}