.deliveryPage {
  .deliveryHeader {
    font-family: Inter;
    font-size: 28px;
    font-weight: 700;
    letter-spacing: -1px;
  }

  .deliveryForm {
    display: flex;
    flex-direction: column;
    gap: 12px;

    .contentPriceButton {
      border-radius: 16px;
      margin-top: 16px;
      background: #2545ED;

      .contentPriceLink {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 17px 16px;
        max-height: 56px;

        .contentPriceText {
          color: #FFF;
          font-size: 16px;
          font-weight: 600;
          letter-spacing: -0.32px;
        }
      }
    }
  }
}